<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <main class="w-680">
          <div class="bg-white shadow p-4 rounded-3">
            <div class="fr-auto pt-2 mb-4">
              <h6 class="create-only"><%= t("modal.create_room.title") %></h6>
              <h6 class="update-only"><%= t("modal.room_settings.title") %></h6>
              <svg width="24" height="24" data-dismiss="modal">
                <use xlink:href="<%= asset_path('svg-sprite') %>#ic-close" />
              </svg>
            </div>

            <%= form_for(:room, url: rooms_path) do |f| %>
              <div>
                <div class="form-floating mb-3">
                  <%= f.text_field :name, id: "create-room-name", class: "form-control", value: "", placeholder: t("modal.create_room.name_placeholder"), autocomplete: :off, required: true %>
                  <label for="floatingInput">Room Name</label>
                  <div class="invalid-feedback text-left"><%= t("modal.create_room.not_blank") %></div>
                </div>
              </div>
              <div>
                <div class="form-floating mb-3">
                  <%= f.text_field :access_code, class: "form-control", placeholder: t("modal.create_room.name_placeholder"), autocomplete: :off %>
                  <label for="floatingInput"><%= t("modal.create_room.access_code_placeholder") %></label>
                </div>
              </div>

              
              <div class="d-grid gap-8 pt-3">
                <% mute = room_configuration("Room Configuration Mute On Join") %>
                <% if mute != "disabled" %>
                  <div class="modal-col">
                    <div class="icon-container-sm l-blue d-grid vh-middle">
                      <svg width="18" height="18">
                        <use xlink:href="<%= asset_path('svg-sprite') %>#ic-lock" />
                      </svg>
                    </div>
                    <h6>
                      <%= t("modal.room_settings.mute")%>
                    </h6>
                    <div class="form-check form-switch">
                      <%= f.check_box :mute_on_join, class: "form-check-input", data: { default: mute == "enabled" }, checked: false %>
                      <span class="custom-switch-indicator float-right cursor-pointer"></span>
                    </div>
                  </div>
                <% end %>

                <% require_approval = room_configuration("Room Configuration Require Moderator") %>
                <% if require_approval != "disabled" %>
                  <div class="modal-col">
                    <div class="icon-container-sm l-blue d-grid vh-middle">
                      <svg width="18" height="18">
                        <use xlink:href="<%= asset_path('svg-sprite') %>#ic-lock" />
                      </svg>
                    </div>
                    <h6>
                      <%= t("modal.room_settings.require_approval")%>
                    </h6>
                    <div class="form-check form-switch">
                      <%= f.check_box :require_moderator_approval, class: "form-check-input", data: { default: require_approval == "enabled" }, checked: false %>
                      <span class="custom-switch-indicator float-right cursor-pointer"></span>
                    </div>
                  </div>
                <% end %>
                
                <% any_start = room_configuration("Room Configuration Allow Any Start") %>
                <% if any_start != "disabled" %>
                  <div class="modal-col">
                    <div class="icon-container-sm l-blue d-grid vh-middle">
                      <svg width="18" height="18">
                        <use xlink:href="<%= asset_path('svg-sprite') %>#ic-userplus" />
                      </svg>
                    </div>
                    <h6>
                      <%= t("modal.room_settings.start")%>
                    </h6>
                    <div class="form-check form-switch">
                      <%= f.check_box :anyone_can_start, class: "form-check-input", data: { default: any_start == "enabled" }, checked: false %>
                      <span class="custom-switch-indicator float-right cursor-pointer"></span>
                    </div>
                  </div>
                <% end %>
                <% moderator = room_configuration("Room Configuration All Join Moderator") %>
                <% if moderator != "disabled" %>
                  <div class="modal-col">
                    <div class="icon-container-sm l-blue d-grid vh-middle">
                      <svg width="18" height="18">
                        <use xlink:href="<%= asset_path('svg-sprite') %>#ic-unlock" />
                      </svg>
                    </div>
                    <h6>
                      <%= t("modal.room_settings.join_moderator")%>
                    </h6>
                    <div class="form-check form-switch">
                      <%= f.check_box :all_join_moderator, class: "form-check-input", data: { default: moderator == "enabled" }, checked: false %>
                      <span class="custom-switch-indicator float-right cursor-pointer"></span>
                    </div>
                  </div>
                <% end %>
                <% recording = room_configuration("Room Configuration Recording") %>
                <% if recording_consent_required? && recording != "disabled" %>
                  <div class="modal-col">
                    <div class="icon-container-sm l-blue d-grid vh-middle">
                      <svg width="18" height="18">
                        <use xlink:href="<%= asset_path('svg-sprite') %>#ic-unlock" />
                      </svg>
                    </div>
                    <h6>
                      <%= t("modal.room_settings.recording")%>
                    </h6>
                    <div class="form-check form-switch">
                      <%= f.check_box :recording, class: "form-check-input", data: { default: recording == "enabled" }, checked: false %>
                      <span class="custom-switch-indicator float-right cursor-pointer"></span>
                    </div>
                  </div>
                <% end %>
                <div class="modal-col create-only">
                  <div class="icon-container-sm l-blue d-grid vh-middle">
                    <svg width="18" height="18">
                      <use xlink:href="<%= asset_path('svg-sprite') %>#ic-login" />
                    </svg>
                  </div>
                  <h6>
                    <%= t("modal.create_room.auto_join") %>
                  </h6>
                  <div class="form-check form-switch">
                    <%= f.check_box :auto_join, class: "form-check-input", checked: false %>
                    <span class="custom-switch-indicator float-right cursor-pointer"></span>
                  </div>
                </div>
              </div>
              <div class="text-center py-4">
                <%= f.submit t("modal.create_room.create"), class: "create-only btn btn-md btn-primary px-4 create-room-button" %>
                <%= f.submit t("modal.room_settings.update"), class: "update-only btn btn-md btn-primary px-4 create-room-button" %>
              </div>
            <% end %>
            <div class="card-footer">
              <p class="create-only"><%= t("modal.create_room.free_delete") %></p>
              <p class="update-only"><%= t("modal.room_settings.footer_text") %></p>
            </div>
          </div>
        </main>
      </div> 
    </div>
  </div>
</div>
