<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="modal fade" id="createRoleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <main class="w-680">
          <div class="bg-white shadow p-4 rounded-3">
            <div class="fr-auto pt-2 mb-4">
              <h6><%= t("modal.create_role.title") %></h6>
              <svg width="24" height="24" data-dismiss="modal">
                <use xlink:href="<%= asset_path('svg-sprite') %>#ic-close" />
              </svg>
            </div>
            <%= form_for(:role, url: admin_new_role_path) do |f| %>
              <div>
                <div class="form-floating mb-3">
                  <%= f.text_field :name, id: "createRoleName", class: "form-control text-center", placeholder: t("modal.create_role.name_placeholder"), autocomplete: :off, required: true %>
                  <label for="floatingInput">New Role</label>
                  <div class="invalid-feedback text-left"><%= t("modal.create_role.not_blank") %></div>
                </div>
              </div>
              <div class="text-center py-4">
                  <%= f.submit t("modal.create_role.create"), class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
            <div class="card-footer">
              <p><%= t("modal.create_role.footer_text") %></p>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
