<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<% exceeds_limit = current_room_exceeds_limit(room)%>
<div data-path="<%= update_settings_path(room) %>" data-room-access-code="<%= room.access_code %>" class="bg-white p-2 p-md-4 rounded-3 shadow-sm domain-list room-block">
  <div class="domain-icon custom-element">
    <i class="fas <%= room == current_user.main_room ? 'fa-home' : 'fa-chalkboard-teacher' %>"></i>
  </div>
  <div>
    <h6 class="room-name-text"><%= room.name %></h6>
    <div class="grid-col">
      <div class="fs-6 text-muted" id="invite-url-<%= index %>">
        <%= request.base_url + room.invite_path %>
      </div>
      <a href="#" class="_copy_invite" id="copy-invite-<%= index %>">
        <svg width="24" height="24">
          <use xlink:href="<%= asset_path('svg-sprite.svg') %>#icon-tabler-copy" />
        </svg>
      </a>
    </div>
    <div class="f-14 text-body">
      <% if room.sessions > 0 %>
        <i><%= t("room.last_session", session: recording_date(room.last_session)) %></i>
      <% else %>
        <i><%= t("room.no_sessions") %></i>
      <% end %>
    </div>
  </div>
  <div class="grid-col gap-8 align-items-center">
    <button type="button" class="btn btn-md btn-outline-dark" data-toggle="dropdown">
        <svg width="24" height="24">
          <use xlink:href="<%= asset_path('svg-sprite.svg') %>#icon-id" />
        </svg>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-md-left">
      <a href="#" data-toggle="modal" data-target="#createRoomModal" class="update-room dropdown-item" data-settings-path="<%= room_settings_path(room) %>">
        <i class="dropdown-icon fas fa-cog"></i> <%= t("room.settings") %>
      </a>
      <% if preupload_allowed? %>
        <a href="" data-toggle="modal" data-target="#preuploadPresentationModal" class="preupload-room dropdown-item" data-path="<%= preupload_presentation_path(room) %>" data-settings-path="<%= current_presentation_path(room) %>"  data-remove="<%= remove_presentation_path(room) %>">
          <i class="dropdown-icon fas fa-file-upload"></i> <%= t("room.add_presentation") %>
        </a>
      <% end %>
      <% if shared_access_allowed %>
        <a href="" data-toggle="modal" data-target="#shareRoomModal" class="share-room dropdown-item" data-path="<%= room_shared_access_path(room) %>" data-users-path="<%= room_shared_users_path(room) %>">
          <i class="dropdown-icon fas fa-users"></i> <%= t("room.share") %>
        </a>
      <% end %>
      <% unless room == current_user.main_room %>
        <a href="" data-toggle="modal" data-target="#deleteRoomModal" data-path="<%= room_path(room) %>" data-name="<%= room.name %>" class="delete-room dropdown-item">
          <i class="dropdown-icon far fa-trash-alt"></i> <%= t("delete") %>
        </a>
      <% end %>
    </div>
    <% if @room_running %>
      <%= button_to t("room.join"), room_path(room), class: "btn btn-md btn-primary px-4", "data-disable": "" %>
    <% else %>
      <% unless exceeds_limit %>
        <%= button_to t("room.start"), start_room_path(room), class: "btn btn-md btn-primary px-4", "data-disable": "" %>
      <% end %>
    <% end %>
  </div>
</div>