<%= form_for(@contact, url: contacts_path, html: {method: :post, class: "php-email-form"}) do |f| %>
  <div class="row">
    <div class="col form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Your Name", data: {rule: "minlen:4", msg: "Please enter at least 4 chars"} %>
        <div class="validate"></div>
    </div>
    <div class="col form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Your Email" %>
        <div class="validate"></div>
    </div>
  </div>
  <div class="form-group">
    <%= f.text_field :subject, class: "form-control", placeholder: "Subject" %>
    <div class="validate"></div>
  </div>
  <div class="form-group">
    <%= f.text_area :message, class: "form-control", rows: "5", placeholder: "Message" %>
    <div class="validate"></div>
  </div>
  <%# <div class="mb-3">
    <div class="loading">Loading</div>
    <div class="error-message"></div>
    <div class="sent-message">Your message has been sent. Thank you!</div>
  </div> %>
  <div class="text-center">
    <%= f.submit 'Send Message', class: 'btn btn-success l-blue' %>
    <%# <button type="submit">Send Message</button> %>
  </div>
<% end %>