<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<% exceeds_limit = current_room_exceeds_limit(@room)%>
<% if exceeds_limit%>
  <div class="alert alert-danger alert-dismissible text-center mb-0">
    <%= t("room.room_limit_exceeded", difference: @diff) %>
  </div>
<% end %>
<main class="dashboard-layout">
  <div class="bg-circle">
    <%= image_tag('dashboard.svg', alt:"") %>
  </div>
  <div class="pe-2 pe-md-4">
    <h1 class="text-primary fw-light pb-4">Hello <%= current_user.name %>!</h1>
      <div class="w-680">
        <div class="fr-auto pb-4">
          <h5 class="fw-light p-0"> <strong>1</strong> <%= @room.name %></h5>
          <button type="button" class="btn btn-success" id="create-room-block"  data-toggle="modal" data-target="#createRoomModal"><%= t("room.create_room") %></button>
        </div>
          <div id="room_block_container">
            <% if current_user.role.get_permission("can_create_rooms") %>
              <% current_user.ordered_rooms.each_with_index do |room, index| %>
                <div class="d-grid gap-24">
                  <%= link_to room do %>
                    <%= render "rooms/components/room_block", room: room, index: index %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
      </div>
  </div>
</main>


<%= render "shared/modals/delete_room_modal" %>

<%= render "shared/modals/create_room_modal" %>

<% if preupload_allowed? %>
  <%= render "shared/modals/preupload_presentation_modal" %>
<% end %>

<% if shared_access_allowed %>
  <%= render "shared/modals/share_room_modal" %>
  <%= render "shared/modals/remove_access_modal" %>
<% end %>