<% visibility = recording[:metadata][:"gl-listed"] == "true" ? t("recording.visibility.public") : t("recording.visibility.unlisted") %>
<div class="d-grid gap-8">
  <div class="ratio ratio-16x9 bg-dark rounded-video">
    <video class="rounded-video">
      <% p = recording[:playbacks].find do |p| p.key?(:preview) end %>
      <% if p %>
        <% safe_recording_images(p[:preview][:images][:image]).each do |img| %>
          <%#= image_tag(img[:content].strip, class: "thumbnail px-2") %>
          <source src="<%= image_tag(img[:content].strip) %>" type="video/mp4">
        <% end %>
      <% end %>
    </video>
    <div>
      <div class="video-overlay-top">
        <span class="badge bg-danger"><%= recording_length(recording[:playbacks]) %></span>
      </div>
      <div class="video-overlay-bottom">
          <div class="fr-auto gap-8">
              <div class="grid-col gap-4 justify-content-start">
                  <div class="label-sm black-500-bg auto-fr gap-4">
                      <% sorted_formats = recording[:playbacks].sort_by! { |p| p[:type] } %>
                      <% p = sorted_formats.first %>
                      <%# sorted_formats.each do |p| %>
                      <span class="pe-1">
                        <svg width="18" height="18">
                          <use xlink:href="<%= asset_path('svg-sprite') %>#video" />
                        </svg>
                        <%= link_to t("recording.format.#{p[:type]}"), p[:url], target: "_blank" %>
                      </span>
                      <%# end %>

                      <%# <svg width="18" height="18">
                          <use xlink:href="/img/svg-sprite.svg#video" />
                      </svg>
                      <span class="pe-1">Pressentation</span> %>
                  </div>
                  <div class="label-sm black-500-bg auto-fr gap-4">
                      <svg width="16" height="16">
                          <use xlink:href="<%= asset_path('svg-sprite') %>#users" />
                      </svg>
                      <span class="pe-1"><%= recording[:participants] || "-" %></span>
                  </div>
              </div>
              <div>
                <div class="label-sm black-500-bg auto-fr gap-4" data-toggle="tooltip" data-placement="top" title="<%= visibility %>">
                  <svg width="18" height="18">
                    <use xlink:href="<%= asset_path('svg-sprite') %>#eye" />
                  </svg>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div>
    <div class="fr-auto gap-8">
      <h6 class="fw-m text--1"><%= recording[:name] %></h6>
      <div class="dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown">
          <svg width="16" height="16">
            <use xlink:href="<%= asset_path('svg-sprite') %>#icon-id" />
          </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% recording_links = "" %>
          <% p = recording[:playbacks].each do |p| recording_links.concat(p[:url] + "\n\n") if p.key?(:length) end %>
          <% unless recording[:metadata][:"gl-listed"] == "true" %>
            <%= button_to update_recording_path(meetingID: recording[:meetingID], record_id: recording[:recordID], state: "public"), class: "dropdown-item", "data-disable": "" do %>
              <i class="dropdown-icon fas fa-globe"></i> <%= t("recording.visibility.public") %>
            <% end %>
          <% else %>
            <%= button_to update_recording_path(meetingID: recording[:meetingID], record_id: recording[:recordID], state: "unlisted"), class: "dropdown-item", "data-disable": "" do %>
              <i class="dropdown-icon fas fa-link"></i> <%= t("recording.visibility.unlisted") %>
            <% end %>
          <% end %>
          <% if p %>
            <a class="dropdown-item email-link" data-pres-link="<%= recording_links %>"><i class="dropdown-icon far fa-envelope"></i> <%= t("recording.email") %></a>
            <div class="dropdown-divider"></div>
          <% end %>
          <a href="" data-toggle="modal" data-target="#deleteRecordingModal" data-path="<%= delete_recording_path(meetingID: recording[:meetingID], record_id: recording[:recordID]) %>" class="delete-rec dropdown-item">
            <i class="dropdown-icon far fa-trash-alt"></i> <%= t("delete") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>